.product-form {
  background: #1e1e1e;
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  margin: auto;
  border: 1px solid #2f2f2f;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
}

.product-form label {
  display: block;
  margin-bottom: 0.3rem;
  color: #7dfc9f;
  font-weight: 600;
}

.product-form input,
.product-form textarea,
.product-form select {
  width: 100%;
  padding: 0.8rem;
  background: #252525;
  border: 1px solid #2f2f2f;
  border-radius: 8px;
  color: #eaeaea;
  margin-bottom: 1rem;
}

.product-form button {
  width: 100%;
  background: #ffd966;
  color: #1e1e1e;
  padding: 0.9rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s;
}

.product-form button:hover {
  background: #ffea99;
}
