/* ======== HEADER GENERAL ======== */
.header {
  width: 100%;
  background-color: #1c1c1c; /* Gris oscuro */
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #6d28d9; /* Acento violeta */
}

/* ======== LOGO ======== */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 55px;
  height: auto;
}

.logo a {
  color: #7c3aed; /* Violeta */
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.logo a:hover {
  color: #10b981; /* Verde esmeralda */
}
