.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    background-color: #1e1e1e;
    color: #f5f5f5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-bottom: 1rem ;
}

.logo img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.logo h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffcc66;
    margin: 0;
}