/* ============================= */
/*       ESTILOS GLOBALES        */
/* ============================= */

/* Reset recomendado */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo general del sitio */
body {
  background-color: #121212;
  color: #e5e5e5;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* Quita subrayado global, pero se puede personalizar por componente */
a {
  text-decoration: none;
  color: inherit;
}

/* Contenedor principal */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Imágenes globales para que NO SE SALGAN */
img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Botón global */
button {
  background-color: #9461eb;
  color: #1a1a1a;
  border: none;
  margin: 10px;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

button:hover {
  background-color: #c5a100;
}